<!DOCTYPE html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
</head>
<body>
  <a href="/">Home</a><br>
  <a href="/showtech">Просмотр склада</a><br>
  <a href="/addtech">Внести технику</a><br>
  <%=yield%>
</body>
